{% load static %}

<link rel="stylesheet" href="{% static 'css/1990/menu.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="menu_wrapper">
  <div id="menu_content">
    <img 
      height="113" 
      width="177" 
      src="{% static 'images/1990/catmouse.gif' %}" 
      border="0"
      style="max-width: 100%; height: auto;"
    />

    <form name="y_datetime">
      <input
        id="textbox1"
        type="text"
        size="32"
        style="width: 100%; max-width: 250px; text-align: center;"
      />
    </form>

    <script>
      // Keep your existing date script, but let's optimize it
      date = new Object();
      date.style = 2;
      date.military = 0;

      date.days1 = new Array("Sun", "Mon", "Tues", "Wed", "Thur", "Fri", "Sat");
      date.days2 = new Array(
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      );
      date.months1 = new Array(
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "June",
        "July",
        "Aug",
        "Sept",
        "Oct",
        "Nov",
        "Dec"
      );
      date.months2 = new Array(
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      );

      function datedisplay() {
        date.now = new Date();
        date.year = date.now.getFullYear();
        date.month = date.now.getMonth();
        date.date = date.now.getDate();
        date.day = date.now.getDay();
        date.hour = date.now.getHours();
        date.min = date.now.getMinutes();
        date.sec = date.now.getSeconds();
        date.ampm = "";

        if (date.military) {
          if (date.hour < 10) {
            date.hour = "0" + date.hour;
          }
        } else if (date.hour > 11) {
          date.ampm = "pm";
          date.hour = date.hour - 12;
        } else {
          date.ampm = "am";
        }

        if (date.hour == 0) {
          date.hour = 12;
        }
        if (date.min < 10) {
          date.min = "0" + date.min;
        }
        if (date.sec < 10) {
          date.sec = "0" + date.sec;
        }

        if (date.style == 0) {
          date.txt =
            date.months2[date.month] + " " + date.date + " " + date.year;
        } else if (date.style == 1) {
          date.txt =
            date.days2[date.day] +
            " " +
            date.hour +
            ":" +
            date.min +
            ":" +
            date.sec +
            " " +
            date.ampm;
        } else if (date.style == 2) {
          date.txt =
            date.months2[date.month] +
            " " +
            date.date +
            " " +
            date.year +
            " , " +
            date.hour +
            ":" +
            date.min +
            ":" +
            date.sec +
            " " +
            date.ampm;
        } else if (date.style == 3) {
          date.txt =
            date.days1[date.day] +
            " " +
            date.months1[date.month] +
            " " +
            date.date +
            " " +
            date.year +
            " , " +
            date.hour +
            ":" +
            date.min +
            ":" +
            date.sec +
            " " +
            date.ampm;
        } else if (date.style == 4) {
          date.txt =
            date.month +
            1 +
            "/" +
            date.date +
            "/" +
            date.year +
            " , " +
            date.hour +
            ":" +
            date.min +
            ":" +
            date.sec +
            " " +
            date.ampm;
        } else {
          date.txt =
            date.year +
            "/" +
            (date.month + 1) +
            "/" +
            date.date +
            " , " +
            date.hour +
            ":" +
            date.min +
            ":" +
            date.sec +
            " " +
            date.ampm;
        }
        document.getElementById("textbox1").value = date.txt;
        date.id = setTimeout("datedisplay()", 1000);
      }

      datedisplay();
    </script>

    <hr />
    <p>
      <b><font size="4">Website versions:</font></b>
    </p>
    
    <div>
      <p>
        <b>
          <font size="4">
            <img src="{% static 'images/1990/Home.gif' %}" width="42" height="53" style="vertical-align: middle;" />
            <a href="/1990/" target="_top">home</a>
          </font>
        </b>
      </p>
      
      <p>
        <font size="4">
          <b>
            <img src="{% static 'images/1990/pikaonball.gif' %}" width="42" height="50" style="vertical-align: middle;" />
            <a href="/1990/history/" target="_top">history</a>
          </b>
        </font>
      </p>
      
      <p>
        <font size="4">
          <b>
            <img src="{% static 'images/1990/WOWANIM.GIF' %}" width="42" height="50" style="vertical-align: middle;" />
            <a href="/1990/stats/" target="_top">stats</a>
          </b>
        </font>
      </p>
      
      <p>
        <font size="4">
          <b>
            <img src="{% static 'images/1990/comis_shrek.gif' %}" width="42" height="50" style="vertical-align: middle;" />
            <a href="/1990/cool_pix/" target="_top">cool pix i found</a>
          </b>
        </font>
      </p>
      
      <p>
        <font size="4">
          <b>
            <img src="{% static 'images/1990/540.gif' %}" width="41" height="50" style="vertical-align: middle;" />
            <a href="{% url 'guestbook:index' %}"
               onclick="window.open(this.href,'gbook','width=640,height=780,scrollbars=yes'); return false;"
               target="_blank">guestbook</a>
          </b>
        </font>
      </p>
      
      <!-- 3D Cube - now responsive -->
      <div class="cube_container">
        <div class="cube">
          <div class="face top"></div>
          <div class="face bottom"></div>
          <div class="face left"></div>
          <div class="face right"></div>
          <div class="face front"></div>
          <div class="face back"></div>
        </div>
      </div>
    </div>
  </div>
</div>