{% load l10n %}
{% load static %}
<html>
  <head>
    <style type="text/css">
        embed {
            display: none;
        }
    </style>
    <title>How Many Days Since The Montague Street Bridge Has Been Hit?</title>
    <meta name="Keywords" content="TODO,TODO" />
    <meta name="Description" content="TODO" />
    <meta name="Author" content="TODO" />
    <style type="text/css">
        BODY {
            scrollbar-base-color: 000000;
            scrollbar-arrow-color: 0047BE;
            scrollbar-darkshadow-color: 000000;
            scrollbar-highlight-color: 0047BE;
        }
    </style>
    <link rel="icon" href="{% static 'images/bg/bgg/favicon.ico' %}" />
  </head>
  <body background="{% static 'images/2000/bg_hexgrid.jpg' %}"
        bgcolor="000000"
        text="889988"
        link="999999"
        vlink="889988">
    <font face="Tahoma" size="2">
      <center>
        <DateBar />
        <table width="735">
          <tbody>
            <tr>
              <td width="100%" bgcolor="0047BE" align="center">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td background="{% static 'images/2000/blueline_x1.jpg' %}" height="8"></td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="133">
                        <img src="{% static 'images/2000/top_sui2.jpg' %}" />
                      </td>
                      <td width="468">
                        <img src="{% static 'images/2000/banner02.jpg' %}" alt="NAVI Online" />
                      </td>
                      <td width="133">
                        <img src="{% static 'images/2000/top_sou2.jpg' %}" />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td background="{% static 'images/2000/blueline_x2.jpg' %}" height="1"></td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td background="{% static 'images/2000/blueline_x1.jpg' %}" height="8"></td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="184" align="center" valign="top" bgcolor="000000">
                        <br />
                        <table width="99%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <img src="{% static 'images/2000/tabletop_left.jpg' %}" />
                              </td>
                              <td width="100%"
                                  background="{% static 'images/2000/tabletop_center.jpg' %}">
                                <b>
                                  <font face="Tahoma" color="FFFFFF">Main</font>
                                </b>
                              </td>
                              <td>
                                <img src="{% static 'images/2000/tabletop_right.jpg' %}" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="90%" cellpadding="5">
                          <tbody>
                            <tr>
                              <td width="100%">
                                <font face="Tahoma" size="1">
                                  <a href="{% url 'index_2000' %}">Latest Chump</a>
                                  <br />
                                  <a href="{% url 'about_2000' %}">About Monty</a>
                                  <br />
                                  <a href="{% url 'history_2000' %}">History</a>
                                  <br />
                                  <a href="{% url 'stats_2000' %}">Stats</a>
                                  <br />
                                </font>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td background="{% static 'images/2000/blueline_x3.jpg' %}" height="9"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="99%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <img src="{% static 'images/2000/tabletop_left.jpg' %}" />
                              </td>
                              <td width="100%"
                                  background="{% static 'images/2000/tabletop_center.jpg' %}">
                                <b>
                                  <font face="Tahoma" color="FFFFFF">Articles and junk</font>
                                </b>
                              </td>
                              <td>
                                <img src="{% static 'images/2000/tabletop_right.jpg' %}" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="90%" cellpadding="5">
                          <tbody>
                            <tr>
                              <td width="100%">
                                <font face="Tahoma" size="1">
                                  <a href="https://www.youtube.com/watch?v=HR7NivKqfzo">Why Do Trucks Keep Smashing Into This
                                  Bridge?</a>
                                  <br />
                                  <a href="https://www.youtube.com/watch?v=jaUo1KXIU1k">Montague st Bridge by David Cosma</a>
                                  <br />
                                </font>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td background="{% static 'images/2000/blueline_x3.jpg' %}" height="9"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="99%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <img src="{% static 'images/2000/tabletop_left.jpg' %}" />
                              </td>
                              <td width="100%"
                                  background="{% static 'images/2000/tabletop_center.jpg' %}">
                                <b>
                                  <font face="Tahoma" color="FFFFFF">Extras</font>
                                </b>
                              </td>
                              <td>
                                <img src="{% static 'images/2000/tabletop_right.jpg' %}" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="90%" cellpadding="5">
                          <tbody>
                            <tr>
                              <td width="100%">
                                <font face="Tahoma" size="1">
                                  <a href="/1990/cool_pix">Cool Pictures</a>
                                  <br />
                                  <a href="/1990/mycats">My Cats</a>
                                  <br />
                                  <a href="/1990/wpaper">Wallpapers</a>
                                  <br />
                                </font>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td background="{% static 'images/2000/blueline_x3.jpg' %}" height="9"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="99%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <img src="{% static 'images/2000/tabletop_left.jpg' %}" />
                              </td>
                              <td width="100%"
                                  background="{% static 'images/2000/tabletop_center.jpg' %}">
                                <b>
                                  <font face="Tahoma" color="FFFFFF">Contact</font>
                                </b>
                              </td>
                              <td>
                                <img src="{% static 'images/2000/tabletop_right.jpg' %}" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="90%" cellpadding="5">
                          <tbody>
                            <tr>
                              <td width="100%">
                                <font face="Tahoma" size="1">
                                  <a href="{% url 'guestbook:sign' %}">Sign Guestbook</a>
                                  <br />
                                  <a href="{% url 'guestbook:index' %}">View Guestbook</a>
                                  <br />
                                </font>
                                <p>
                                  <font face="Tahoma" size="1">
                                    <a href="mailto:montybalboacontact@gmail.com">montybalboacontact@gmail.com</a>
                                  </font>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td background="{% static 'images/2000/blueline_x3.jpg' %}" height="9"></td>
                            </tr>
                          </tbody>
                        </table>
                        <center>
                          <a href="http://www.clone-army.org/">
                            <img src="{% static 'images/buttons/clonemanga.jpg' %}" border="0" />
                          </a>
                          <br />
                          <a href="http://www.aoinanase.gr.jp/">
                            <img src="{% static 'images/buttons/sh_aoi.gif' %}" border="0" />
                          </a>
                          <br />
                          <a href="http://www.moeboard.net">
                            <img src="{% static 'images/buttons/moe.gif' %}" border="0" />
                          </a>
                          <br />
                        </center>
                      </td>
                      <td width="1"
                          bgcolor="000000"
                          background="{% static 'images/2000/blueline_y1.jpg' %}"></td>
                      <td width="550" align="center" valign="top" bgcolor="000000">
                        <table width="500" cellpadding="10" cellspacing="0">
                          <tbody>
                            <tr>
                              <td width="299" align="center">
                                <font face="Tahoma" size="2">
                                  Last Updated:
                                  <br />
                                  {{ latest_chump.date |localize }}
                                </font>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td background="{% static 'images/2000/blueline_x2.jpg' %}" height="1"></td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        {% block content %}{% endblock %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </font>
  </body>
</html>
